.clearfix:after{
    content:".";/*加一段内容*/
    display:block;/*让生成的元素以块级元素显示，占满剩余空间*/
    height:0;/*避免生成的内容破坏原有布局高度*/
    clear:both;/*清除浮动*/
    visibility:hidden;/*让生成的内容不可见*/
}
a{
    color: #333;
}
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu {
    margin: 0;
    padding: 0;
    outline: none;
}
.leftnav li{
    padding-left: 30px;
    font-size: 14px;
    border-left: 3px solid #fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.leftnav li.active,.leftnav li.active a{
    color: #b4a078!important;
    border-left-color:#BEA988!important;
}
.leftnav li:hover,.leftnav li a:hover{
    color: #b4a078!important;
}
.main-content{
    width: 1090px!important;
    margin-top: 120px!important;
    overflow: hidden;
}
.category-body ul{
    background-color: rgba(0,0,0,.55);
    height: 500px;
}
.category-body li{
    height: 31.2px;
    line-height: 31.2px;
    padding: 0 10px;
    color: white;
}
.category-body li a{
    color: white;
    margin-left: 0px;
}
.category-body li .anticon{
    color: #dedede;
    margin-left: 3px;
}
.category-body li:hover{
    background-color: white;
    color: #427def;
}
.category-body li:hover .anticon{
    color: #427def;
}
.category-body li:hover a{
    color: #427def;
}
.category-body li:hover .category-main{
    display: block;
}
.category-body{
    position: relative;
}
.category-main{
    position: absolute;
    width: 840px;
    top: 0;
    left: 200px;
    background-color: #fafafa;
    height: 500px;
    display: none;
}
.category-item-rows{
    background-color: #fff;
    display: flex;
    line-height: 20px;
    color: #666;
    padding:0 20px;
}
.category-item-left{
    color: #333;
    float: left;
    width: 120px;
    padding: 10px;
}
.category-item-right{
    border-bottom: 1px dashed #dedede;
    flex: 1;
    padding: 10px;
}
.category-item-left span{
    margin-left: 10px;
    font-size: 16px;
    color: #666;
}
.category-item-right span{
    margin-right: 15px;
    white-space: nowrap;
}
.category-item-content{
    padding: 10px;
    height: 500px;
    box-sizing: border-box;
    width: 630px;
    background-color: white;
}
.heightlight{
    color: tomato;
}
#header-search{
    width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}
.left-logo{
    display: inline-block;
}
.head-sech-content{
    display: inline-block;
    width: 625px;
    height: 36px;
    line-height: 36px;
    border:2px solid #FF0036;
    margin-left: 100px;
    box-sizing: content-box;
}
.search-text{
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: #FF0036;
    float: right;
    width: 130px;
    text-align: center;
}
.search-input{
    float: left;
    width: 495px;
}
.head-sech-content input{
    height: 33px;
    border: 0;
    outline: none;
    width: 100%;
    text-indent: 10px;
}
.homelist2 .homelist-item{
    margin-left: 0;
    margin-right: 11px;
}
.homelist2 .homelist-item:last-child{
    margin: 0;
}
#leftnav-container{
    position: fixed;
    bottom: -500px;
    left: 50%;
    margin-left: -650px;
    width: 35px;
    transition: all 1s;
}
#leftnav-container.show{
    bottom: 50px;
}
#leftnav-container li{
    height: 36px;
    width: 36px;
    background-color: rgba(0,0,0,.6);
    text-align: center;
    margin-top: 3px;
    line-height: 15px;
    padding-top: 3px;
    font-size: 13px;
    color: white;
    cursor: pointer;
}
#leftnav-container li:first-child{
    line-height: 30px;
}
#leftnav-container li.red{
    background-color: #FF0036;
}
#leftnav-container li i{
    display: block;
}
#leftnav-container li:hover{
    background-color: #0AA6E8;
}
#leftnav-container li:last-child{
    background-color: rgba(0,0,0,.3) !important;
}
#leftnav-container li a{
    color: #fff;
}
.ant-carousel {
    text-align: center;
    height: 500px;
    line-height: 500px;
    background: #364d79;
    overflow: hidden;
  }
  .swipercontent{
      width: 1200px;
      margin: 0 auto;
  }
  .swipercontent img{
      width: 1200px;
      height: 500px;
  }
  .swipercontent .slick-dots-bottom li{
      background-color: #333;
  }
  .swipercontent .ant-carousel .slick-dots-bottom li button{
      width: 25px;
      height: 5px;
  }
  #modulelist{
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 50px;
    width: 1202px;
}
.modulelist{
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
}
.mask-content{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    width: 120px;
    top: 0;
}
.modulelist li:hover .mask-content{
    opacity: .9;
}
.modulelist li{
    border-bottom: 1px solid #dedede;
    border-right: 1px solid #dedede;
    width: 120px;
    position: relative;
}
.modulelist li img{
    margin: 30px 10px;

}
.mask-content{
    background-color: rgba(0,0,0,.8);
    height: 110px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.mask-content .name{
    margin-top:30px;
    display: inline-block;
    width: 100%;
}
.interbtn{
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
.newlist{
    cursor: pointer;
    height: 110px;
    text-align: center;
    color: #666;
    font-size:16px;
    overflow: hidden;
}
.newlist i{
    font-size: 30px;
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: all 1s;
}
.newlist:hover{
    background-color:#FF0036;
    color: white;
    
}
.newlist:hover i{
    transform: rotate(360deg);
}
.show-content{
    background-color: white;
}
#site-nav {
    position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    font-size: 14px;
}
#site-nav a {
    color: #b0b0b0;
    line-height: 40px;
    display: inline-block;
}
#site-nav .sep {
    margin: 0 5px;
    color: #424242;
}
.topbar-nav{
    float: left;
}
.container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.topbar-cart{
    float: right;
}
.topbar-info{
    float: right;
}
.topbar-cart{
    line-height: 40px;
    margin-left: 20px;
    text-align: center;
    color: #b0b0b0;
    background: #424242;
    cursor: pointer;
}
.topbar-cart:hover{
    background-color: white;
    color: #ff6700;
}
.topbar-cart:hover .topbar-cart-msgempty{
    height: 100px;
}
.topbar-cart:hover .topbar-cart-content{
    background-color: white;
}
.topbar-cart-content{
    position: relative;
    z-index: 2;
    padding: 0 20px;
}
.topbar-cart-msgempty{
    height: 0px;
    line-height: 100px;
    position: absolute;
    right: 0;
    margin-top: 0px;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
    padding:0 20px;
    box-sizing: border-box;
    color: #333;
    transition: height .3s;
    overflow: hidden;
}
#total-container{
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: -70px;
    background-color: #FF0036;
    color: white;
    z-index: 10;
    transition: all 1s;
}
#total-container.show{
    top: 0px;
}
.left-logo{
    font-size: 25px;
    float: left;
    font-weight: 700;
}
.mi-search{
    float: left;
    margin-left: 120px;
}
.mi-search input{
    border: 0;
    outline: none;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    color: #000;
    width: 650px;
    text-indent: 10px;
}
.mi-search span{
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
    cursor: pointer;
}
.homelist-title{
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
    color: #333;
}
.leftborder{
    border-left: 3px solid #333;
    height: 20px;
    width: 1px;
    display: block;
    margin-right: 15px;
    float: left;
    margin-top: 4px;
}
.homelist-body-left{
    float: left;
    position: relative;
}
.banner-detail{
    position: absolute;
    bottom: 20%;
    color: #fff;
}
.left-title-wrap{
    float: left;
    width: 70px;
    background-color: #000;
    font-size: 22px;
    padding:10px;
    text-align: center;
    opacity: .9;
    line-height: 25px;
}
.right-title-wrap{
    float: left;
    width: 128px;
    background-color: #000;
    opacity:.8;
    height: 70px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
}
.right-title{
    display: block;
    line-height: 25px;
}
.homelist-item-img img{
    width: 185px;
}
.homelist-item{
    width: 231px;
    padding: 14px 0;
    border:1px solid transparent;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}
.homelist-body-right ul{
    display: flex;
    flex-wrap: wrap;
}
.homelist-body{
    background-color: #f2f2f2;
}
.homelist-item-title{
    width: 135px;
    margin: 0 auto;
    overflow: hidden;
    height: 40px;
    margin-top: 10px;
}
.homelist-item-price{
    margin-top: 10px;
    color: #FF0036;
    font-size: 18px;
}
.homelist-item:hover{
    border: 1px solid #FF0036;
}
.homelist-item:hover img{
    opacity: 0.7;
}
.homelist-item-content{
    margin-bottom: 30px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    box-sizing: border-box;
}
img {
    vertical-align: middle;
    border-style: none;
}
#site-nav a:hover{
    color: #ff6700;
}
.homelist-item-title{
    color: #333;
}

/* 公共头部样式 */
.m-crumbs-wrap{
    margin-bottom: 20px;
}
.m-crumbs {
    font-size: 12px;
    color: #333;
    line-height: 1;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}
.m-crumbs a{
    color: #333;
}
.m-crumbs span{
    display: inline-block;
}
.m-crumbs a:hover{
    text-decoration: underline;
}
.m-crumbs .arrow-right-hollow{
    height: 11px;
    width: 5px;
    margin: 0 5px;
    background: url('/img/arrow-s8f43eb714c-d446c53437.png') no-repeat;
    background-position: 0 -1129px;
}
.m-crumbs .z-cur {
    color: #999;
}
.j-YXComponentTop{
    height: 76px;
}
.yx-cp-m-top {
    position: relative;
    z-index: 2;
}
.yx-cp-base {
    line-height: 1.5;
    font-family: "Microsoft Yahei","微软雅黑",verdana;
    color: #333;
    font-size: 12px;
}
.yx-cp-m-siteNav {
    position: relative;
    height: 36px;
    line-height: 36px;
    background-color: #333;
    z-index: 5;
}
.yx-cp-m-top .yx-cp-row {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}
.yx-cp-m-top .yx-cp-row .yx-cp-siteNav-l{
    float: left;
}
.yx-cp-m-top .yx-cp-row .yx-cp-siteNav-r {
    float: right;
}
.yx-cp-m-siteNav .yx-cp-siteNavItem {
    float: left;
    margin-left: 10px;
    position: relative;
    color: #ccc;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd {
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd.pipe:before {
    margin-right: 10px;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd.pipe:before {
    content: '';
    display: inline-block;
    height: 16px;
    border-left: 1px solid #5c5c5c;
    vertical-align: middle;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd a {
    display: inline-block;
    color: #ccc;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd a:hover{
    color: #fff;
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd .yx-cp-icon-yxtop{
    height: 5px;
    width: 11px;
    background: url('/img/hxm_yanxuan-component_p_20170601_style_img_x1_icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat;
    background-position: 0 -690px;
    vertical-align: middle;
    display: inline-block;
    transform: rotate(180deg);
}
.yx-cp-m-siteNav .yx-cp-siteNavItemHd .icon-yxtop-app{
    height: 11px;
    width: 7px;
    vertical-align: middle;
    display: inline-block;
    background: url('/img/hxm_yanxuan-component_p_20170601_style_img_x1_icon-yxtop-s2904006215-b2811ec0e9.png') no-repeat;
    background-position: 0 0;
}
.yx-cp-m-funcTab {
    position: relative;
    height: 204px;
    height: 140px;
    padding-right: 0px;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
}
.yx-cp-base i {
    font-style: normal;
}
.yx-cp-m-top .yx-cp-row  .row_child{
    overflow: hidden;
}
.yx-cp-m-funcTab .yx-cp-tabLogo {
    margin-top: 24px;
    float: left;
}
.icon-yxtop-logo {
    height: 60px;
    width: 212px;
    background: url('/img/logo.png') no-repeat;
    /* background-image: url(/img/hxm_yanxuan-component_p_20170601_style_img_x1_icon-yxtop-s2904006215-b2811ec0e9.png); */
    /* background-position: 0 -298px; */
    display: inline-block;
    /* float: left; */
}
.yx-cp-m-search {
    margin-top: 26px;
    float: left;
    width: 532px;
    height: 36px;
    margin-left: 100px;
}
.yx-cp-m-search .yx-cp-searchInput{
    height: 38px;
    line-height: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #CC9756;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    font-size: 14px;
    width: 442px;
    padding-left: 38px;
    outline: 0;
    overflow: hidden;
    background: 0 0;
}
.yx-cp-m-search .yx-cp-searchButton {
    width: 90px;
    height: 38px;
    background-color: #CC9756;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
    color: #fff;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
}
.yx-cp-m-cartEnterWrap {
    margin-top: 26px;
    margin-left: 49px;
    float: right;
    z-index: 4;
}
.yx-cp-m-cartEnter {
    position: relative;
    cursor: pointer;
    width: 134px;
    height: 38px;
    border: 1px solid #CC9756;
    border-radius: 19px;
    padding: 8px 0;
}
.yx-cp-m-cartEnter:hover{
    background: #F5F3EF;
}
.yx-cp-m-cartEnter  .yx-cp-icon-yxtop{
    height: 18px;
    width: 18px;
    margin-left: 22px;
    display: inline-block;
    background: url('/img/icon-yxtop.png') no-repeat;
    background-position: 0 -148px;
    vertical-align: top;
}

.yx-cp-m-cartEnter .yx-cp-cartName {
    color: #CC9756;
    margin-left: 5px;
    margin-top: -1px;
    font-size: 14px;
}
.yx-cp-m-tabNav {
    width: 100%;
    position: relative;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-firstItem{
    margin-left: 0;
    padding: 0;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item {
    float: left;
    margin-top: 27px;
    padding: 0 26px;
    font-size: 14px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-split {
    border-left: 1px solid #ccc;
    height: 14px;
    margin-top: 28px;
    float: left;
}
.icon-yxtop-badge{
    position: absolute;
    margin-top: -1px;
    color: #fff;
    text-align: center;
    line-height: 20px;
    z-index: 1;
    margin-left: 10px;
    height: 19px;
    width: 19px;
    background: url('/img/icon-yxtop.png') no-repeat;
    background-position: 0 -51px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item .yx-cp-topLevel {
    display: block;
    /* padding-bottom: 7px; */
    /* color: #000; */
    color: #333;
    font-weight: bold;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-active .yx-cp-topLevel, .yx-cp-m-tabNav .yx-cp-tabNav-item:hover .yx-cp-topLevel {
    color: #CC9756;
    border-bottom: 3px solid #CC9756;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item:hover .yx-cp-tabNav-dropdown{
    display: block;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item .yx-cp-tabNav-dropdown{
    width: 100%;
    height: 513px;
    position: absolute;
    top: 51px;
    left: 0;
    background: #fff;
    z-index: 999;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,.1);
    display: none;
}
.yx-cp-m-tabNav .yx-cp-tabNav-item .yx-cp-tabNav-dropdown .yx-cp-cateGroupList {
    padding: 14px 20px 20px;
    background: #fff;
    /* border: 1px solid rgba(0,0,0,.1); */
    box-sizing: border-box;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-cateGroup {
    width: 272px;
    float: left;
    margin-right: 24px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-cateGroup.yx-min{
    width: 124px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-cateGroup .yx-cp-cateGroup-name {
    max-width: 272px;
    width: 272px;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
    border-bottom: 1px solid #ddd;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-cateGroup .yx-cp-cateGroup-name.yx-min{
    width: 124px!important;
}
.yx-cp-base .yx-f-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-columnList .yx-cp-cateColumn {
    float: left;
    width: 124px;
    margin-left: 24px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-columnList .yx-cp-cateColumn:first-child {
    margin-left: 0;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-columnList .yx-cp-cateColumn .yx-cp-cateItem {
    margin-bottom: 4px;
    font-weight: 400;
    line-height: 50px;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-columnList .yx-cp-cateColumn .yx-cp-cateItem .yx-cp-subCate-icon {
    height: 50px;
    width: 50px;
    float: left;
}
.yx-cp-base img {
    border: 0;
    vertical-align: top;
}
.yx-cp-m-tabNav .yx-cp-tabNav-dropdown .yx-cp-cateGroupList .yx-cp-columnList .yx-cp-cateColumn .yx-cp-cateItem .yx-cp-subCate-text {
    display: inline-block;
    width: 70px;
    max-width: 70px;
    max-height: 48px;
    margin-left: 4px;
    font-size: 14px;
    vertical-align: middle;
    line-height: 1.2;
    overflow: hidden;
    word-wrap: break-word;
    color: #333;
}

.yx-cp-m-funcTab-fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px!important;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
    z-index: 999;
    display: none;
}
.yx-cp-m-funcTab-fixed .head-center{
    width: 1090px;
    margin: 0 auto;
    display: flex;
}
.yx-cp-m-funcTab-fixed .head-center .yx-cp-tabLogo-fixed{
}
.yx-cp-m-funcTab-fixed .head-center .icon-yxtop-miniLogo{
    height: 30px;
    width: 126px;
    display: inline-block;
    background: url('/img/logo2.png') no-repeat;
    /* background: url(/img/hxm_yanxuan-component_p_20170601_style_img_x1_icon-yxtop-s2904006215-b2811ec0e9.png);
    background-position: 0 -438px; */
    margin-top: 8px;
}
/* .yx-cp-m-funcTab-fixed .head-center .yx-cp-m-tabNav .yx-cp-topLevel{
    color: #333;
    font-weight: bold;
} */
.yx-cp-m-funcTab-fixed .head-center .yx-cp-m-tabNav .yx-cp-tabNav-item{
    margin-top: 14px;
    padding: 0 17px;
}
.yx-cp-m-funcTab-fixed .head-center .yx-cp-m-tabNav .yx-cp-tabNav-item.yx-cp-firstItem{
    margin-left: 12px;
}
.yx-cp-m-funcTab-fixed .head-center .yx-cp-m-tabNav .yx-cp-tabNav-item .yx-cp-topLevel{
    padding-bottom: 15px;
}
.yx-cp-m-funcTab-fixed .head-center .icon-yxtop-search {
    height: 20px;
    width: 20px;
    display: inline-block;
    background: url('/img/icon-yxtop.png') no-repeat;
    background-position: 0 -602px;
    margin-top: 16px;
    margin-right: 33px;
}
.yx-cp-m-funcTab-fixed .head-center .icon-yxtop-userempty{
    height: 22px;
    width: 20px;
    display: inline-block;
    background: url('/img/icon-yxtop.png') no-repeat;
    background-position: 0 -786px;
    margin-top: 16px;
    margin-right: 33px;
}
.yx-cp-m-funcTab-fixed .head-center .icon-yxtop-cart{
    height: 24px;
    width: 24px;
    display: inline-block;
    background: url('/img/icon-yxtop.png') no-repeat;
    background-position: 0 -204px;
    margin-top: 16px;
    /* margin-right: 33px; */
}
/* cart */
.yx-cp-m-cartEnterWrap:hover  .yx-cp-m-miniCart{
    display: block;
}
.yx-cp-m-miniCart{
    position: absolute;
    right: -19px;
    top: 62px;
    z-index: 1;
    padding-top: 10px;
    padding-right: 10px;
    overflow: visible;
    display: none;
}
.yx-cp-m-miniCart .yx-cp-tw-1,.yx-cp-tw-2 {
    position: absolute;
    right: 65px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.yx-cp-m-miniCart .yx-cp-tw-1 {
    top: 3px;
    border-bottom: 8px solid #d7ccb6;
}
.yx-cp-m-miniCart .yx-cp-tw-2 {
    top: 4px;
    border-bottom: 8px solid #fff;
}
.yx-cp-m-miniCart .yx-cp-wrap{
    position: relative;
    width: 330px;
    height: 328px;
    border: 1px solid #b5a176;
    border-top: 2px solid #d7ccb6;
    background-color: #fff;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo {
    margin: 14px 0 0;
    height: 245px;
    background-color: #fff;
    overflow: auto;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-cartItem {
    height: 70px;
    padding: 0 0 10px 15px;
    background-color: #fff;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-cartInfo-inner {
    background-color: #e8e8e8;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item {
    float: left;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-left {
    background-color: #f4f4f4;
    position: relative;
    text-align: center;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-left img{
    width: 60px;
    height: 60px;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-middle .yx-cp-specValue {
    max-width: 84px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-middle .yx-cp-count {
    margin-left: 14px;
    margin-top: 1px;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-middle .yx-cp-count, .yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-middle .yx-cp-specValue {
    display: block;
    color: #999;
    font-size: 11px;
    line-height: 12px;
    float: left;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-middle {
    width: 130px;
    margin-left: 10px;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-right{
    overflow: hidden;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-right .yx-cp-price {
    width: 60px;
    text-align: right;
    font-size: 11px;
    color: #b62628;
    margin-top: 14px;
    line-height: 11px;
    float: left;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartInfo .yx-cp-item-right .yx-cp-deleteItem {
    margin: 14px 0 0 10px;
    line-height: 10px;
    float: left;
}
.icon-yxclose-close11{
    height: 10px;
    width: 11px;
    display: inline-block;
    background: url('/img/icon-yxclose.png') no-repeat;
    background-position: 0 -40px;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartBottom {
    height: 66px;
    background-color: #f4f0ea;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartBottom .yx-cp-totalPrice {
    font-size: 14px;
    line-height: 20px;
    padding: 12px 0 0 15px;
    color: #BE4141;
    float: left;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartBottom .yx-cp-goToCart {
    float: right;
    margin-right: 31px;
}
.yx-cp-m-miniCart .yx-cp-wrap .yx-cp-cartBottom .yx-cp-goToCart .yx-cp-btn {
    width: 110px;
    height: 36px;
    line-height: 36px;
    margin-top: 15px;
}
.yx-cp-base .yx-w-button {
    bottom: 40px!important;
}
.yx-cp-base .yx-w-button-primary {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
}
.yx-cp-base .yx-w-button{
    border-radius: 2px;
    padding: 0;
    vertical-align: middle;
    letter-spacing: normal;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}
.yx-cp-m-funcTab-fixed .yx-cp-m-miniCart{
    right: -20px;
    top: 49px;
}
.yx-cp-m-funcTab-fixed .yx-cp-m-miniCart .yx-cp-tw-1,.yx-cp-tw-2{
    right: 20px;
}
.cartIcon{
    position: relative;
}
.cartIcon .yx-cp-m-miniCart{
    /* display: block; */
}
.cartIcon:hover .yx-cp-m-miniCart{
    display: block;
}
.yx-cp-m-miniCart .yx-w-button {
    bottom: 40px!important;
}
.yx-cp-m-miniCart .yx-w-button-primary {
    color: #fff;
    border: 1px solid #b4a078;
    background-color: #b4a078;
}
.yx-cp-m-miniCart .yx-w-button{
    border-radius: 2px;
    padding: 0;
    vertical-align: middle;
    letter-spacing: normal;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}